<div class="profile-form">
    <label  class='profile-form__label' for={{name}} >{{label}}</label>
    <input class="profile-form__input" type={{type}} placeholder={{placeholder}} name={{name}} />
</div>